<article>
    <section>
        <h2>About me</h2>
        <p>This section is entirely dedicated towards me, the author of this website, and therefore has
            nothing
            related
            to the topic of sustainability.</p>
        <br />
        <p>Oh boy, what to say...</p>
        <p>I'm just a simple university student with a major enthusiasm for video-games, specificaly the
            ones of
            roguelike nature (games where high difficulty/challenge is the primary focus).</p>
        <p>My love for gaming was one of the reasons that drove me to pick engineering, which then
            resulted in
            quite a
            shock once I realized things weren't quite as I expected them to be, haha...</p>
        <p>Despite that I still ended up enjoying it, specialy how challenging/maddening it can be when
            you're
            stuck
            for hours thinking how to do a certain part of a code for a project.</p>
        <p>I've had some major setbacks that caused me to lose a few lective years, mostly due to loss
            of drive
            for
            everything in general, but now I'm back with somewhat more enthusiasm and hopefully things
            will get
            better.
        </p>
        <p>As for myself specifically, I tend to be a rather shy and very anxious guy. I also tend to
            give up on
            things
            rather quickly despite how much they interest me greatly...</p>
        <p>It's a flaw that I find myself unable to overcome.</p>
        <br />
        <p>Lately though, I've acquired an interest for certain hobbies that I quite enjoy and find
            myself unable
            to
            let go of as compared to before, writing and learning Blender.</p>
        <p>I've been trying to create my own fantasy novel as well as how to properly create 3D models
            so that in
            the
            future I might use them to either do Animations or indie-games if I ever decide to make any.
        </p>
        <p>I never thought I would take up on writing, but a long time friend who is a part of a small
            indie
            group
            composed of artists and writers suggested it and it turned out to be surprisingly enjoyable.
        </p>
        <p>As for my desire to learn how to use blender, though I also have friends who possess some
            experience
            with
            it, it was MinusT's amazing 3D animations of touhou that inspired me, the fact that he
            singlehandedly
            created all the models/animations/effects still leaves in awe.</p>
        <br />
        <p>I'm a massive touhou fan as well, I find it to be a community that far outshines most others
            due to
            how
            insane it can be, from hundreds of music bands dedicated to making remixes of the original
            songs to
            artists
            creating their own comics and merchandise to sell at touhou conventions(yes this series has
            its own
            conventions). It's a gaming series with very peculiar copyright laws, as long as you are an
            indie
            developer/composer/etc, you are free to use all of its characters and musics in your
            creations. This
            provides an opportunity for fans to make a living off of it while maintaining the series
            alive.</p>
        <p>I could go on and on about how much I adore this series, but instead ill end it now with one
            of the
            latest
            MinusT videos so you can judge how amazing he is.</p>
        <br />
        <div><iframe src="https://www.youtube.com/embed/KjJMWj6BYhY" frameborder="0"
                allowfullscreen></iframe>></iframe></right>
        </div>
    </section>
</article>