<article>
    <section>
        <h2>The Economic Pillar</h2>
        <p>Economic sustainability can be considered as the continued success of an economy over time or
            the way
            an
            economy operates in a sustainable manner,
            protecting both the social and environmental components as well.</p>
        <p>Like the other pillars, it must be or try to be everlasting, to support itself and grow
            without
            negatively
            impacting the social, and environmental aspects of the community.</p>
        <p>Something that is easier said than done, since there tends to be a huge correlation between
            economic
            growth
            and
            environmental degradation.</p>
        <p>As we grow as a community, so does our wants and needs which causes a major negative impact
            towards
            the
            environment, by eating away at is ecosystems services
            which ironically are our life-support as well.</p>
        <figure>
            <img class="imgSqua" src="./Images/80266910_p0.jpg" alt="Polution">
            <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/80266910
                    target="_blank"><b>Fig.1 -
                        Industrialism</b></a></figcaption>
        </figure>
    </section>
    <div class="linebreaker"></div>
    <section>
        <p>Thus <strong>ecological economics</strong> was "created", unlike the conventional economics
            whose
            primary concern
            is
            just
            to simply expand, ecological economics has a secondary goal aside to that. </p>
        <p>The interdependence and coevolution of human economies and natural ecosystems,
            considering the
            economy
            a
            subsystem of the ecosystem with focus on perserving the natural capital(world's
            stock of natural
            resources).</p>
        <p>Besides the ecological economics there exists environmental economics, though they
            might seem
            very
            similar there are clear distinctions between them.</p>
        <p>Environmental economics is more focused on undertaking heoretical or empirical
            studies of the
            economic
            effects, such as giving the costs and benefits of alternative
            environmental policies to deal with air pollution, water quality, toxic substances,
            solid waste,
            and
            global warming. Another topic they focus on is the concept "market failure"</p>
        <p>Where they analyze whether or not the resources are being allocated efficiently as
            well indicate
            its
            wastefullness or economic inefficiency.</p>
        <p>We also have the green economy which also aims at making issues of reducing
            environmental risks
            and
            ecological scarcities, it is closely related to ecological economics
            but differ in the fact that it has a much more politically applied focus.</p>
        <p>"To be green, an economy must not only be efficient, but also fair" was part of the
            latest UNEP
            Green
            Economy Report and it implies that green economy must also be fair in recognizing
            global and country level equity dimensions, particularly in assuring a just
            transition to an
            economy
            that
            is low-carbon, resource efficient.</p>
        <figure>
            <img id="outOfTime" src="./Images/Wenqing.Yan.1612399.png" alt="Climate Change">
            <figcaption><a id="link" href=https://www.deviantart.com/yuumei/art/Countdown-217677913
                    target="_blank"><b>Fig.2 - Running out of time</b></a></figcaption>
        </figure>
    </section>
</article>