<article>
    <section>
        <h2>The Environmental Pillar</h2>
        <p>Environmental sustainability is usualy the most focused/the most thought of when
            someone
            mentions
            the word sustainability,
            and with good reason for an individual could not sustain itself without first have a
            sustainable
            environment/place.</p>
        <p>An healthy ecosystem is imperative in order to provide vital goods and services to
            humans and
            other
            organisms. </p>
        <p>So in order for us to strive, we must reduce the negative impact our actions can
            cause.</p>
        <p>For that there are several approaches we can take such as environmental resource
            management,
            management
            of human consumption of resources, recycling, etc.</p>
        <figure>
            <img class="horizontalImg" src="./Images/79197621_p0.png" alt="Polution" border="2">
            <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/79197621 target="_blank"><b>Fig.1 -
                        Climate Change</b></a></figcaption>
        </figure>
    </section>
    <section>
        <p><strong>The environmental resource management </strong>is the management of the
            interaction and
            impact of human societies on the environment, it´s primary aim is to ensure
            that the ecosystem services(benefits gifted by the natural environment from healthy
            ecosystems)
            are
            protected and maintained for future human generations.</p>
        <p>A sustainable ecosystem carries great significance for it can affect our behavior,
            culture and
            economic
            practices.</p>
        <br />
        <p><strong>The management of human consumption </strong> as the name indicates, its
            about managing
            how
            much we can take/do without endangering the environment or its ecosystem,
            we as a society must have consideration and ethical behavior to limit ourselves from
            draining
            the
            environment dry as well as be aware of what we produce(from plastics to carbon
            dioxide)
            and find ways to deal with such materials and pollution accordingly.</p>
        <br />
        <p><strong>Ways to help reduce the negative impact we cause:</strong> Asides from the
            obvious which
            will be discussed in the next topic, there are many activities one can do in order
            to help the environment sustain itself from our actions, one of such is for example
            <strong>reforestation</strong>, which has the purpose of restoking the existing
            forests and
            woodlands
            that have been depleted(usualy due to deforestation). Reforestation can also be used
            to rectify
            or
            improve the quality of human life which also further increases our sustainability as
            well
            by soaking up the pollution and dust from the air and mitigate global warming.</p>
    </section>
    <div class="linebreaker"></div>

    <h2>The Importance of recycling</h2>
    <section>
        <p>The most well known action by everyone, something that tends to be taught by primary
            schools/parents and is
            overabundantly showed in television ads.</p>
        <p>A way for us to contribute as a single individual without much effort,
            <strong>recycling</strong>.
        </p>
        <figure>
            <img class="verticalImg" src="./Images/__original_drawn_by_avogado6.jpg" alt="Recycle" height="450"
                width="405">
            <figcaption><a class="link" href=https://twitter.com/i/web/status/1018859005207171072
                    target="_blank"><b>Fig.2 - Picking up cans</b></a></figcaption>
        </figure>
        <p><strong>Recycling</strong> is the process of converting waste materials into new
            materials or
            objects,
            allowing us to reutilize what was once unusable so that may not need to take more
            from the
            environment
            while redirecting the waste outputs out of the economic system.</p>
        <p>It serves as an alternative to "conventional" waste disposal and contributes a lot to
            lowering
            the
            greenhouse
            gas emissions.</p>
        <p>Recycle has become a key component in modern day society and is the third action of
            the "Reduce,
            Reuse, and
            Recycle" waste hierarchy.</p>
        <p>This simple three word quote is used as a way to imprint a message onto society, that
            we should
            be
            moderate
            with what we use, reuse it if possible and not just discard it away after just a few
            times, and
            finally
            to turn it into something new so once again may continue its repeating cycle.</p>
        <p>Nowadays, there are several materials that can and should be recycled such as many
            kinds of
            glass,
            paper,
            cardboard, metal, plastic, tires, textiles, batteries, and even electronics.</p>
        <p>But recycling isnt the only way to make use of non-usable materials/products, there
            are other
            ways
            to help the
            environment.</p>
        <br />
        <p><strong>Composting </strong> is another way of using no longer needed materials, it
            is often
            used on
            various organic materials that would be otherwise regarded as waste and instead it
            is used as
            soil conditioner. Compost is rich in nutrients and is used on various places such as
            gardens,
            agriculture,
            landscaping, etc.</p>
    </section>
</article>