<article>
    <div class="linebreaker"></div>
    <section>
        <h2>General</h2>
        <p>This particular page is dedicated on giving specification regarding certain important topics
            that
            do not fall under the other categories on the upper center of the website (Ips, Technology).
        </p>
        <p>For now it only contains the three pillars of sustainability but more will be added later.
        </p>
        <div class="linebreaker"></div>
        <h2>Links to more detailed topics:</h2>
        <div class="smallMenu">
            <nav>
                <ul>
                    <li><strong><a style="color: blue;" onclick="showSocial()">
                                The Social Pillar</a></strong></li>
                    <li><strong><a style="color: blue;" onclick="showEnvironment()">The
                                Environmental
                                Pillar</a></strong></li>
                    <li><strong><a style="color: blue;" onclick="showEconomic()">
                                The Economic Pillar</a></strong></li>
                </ul>
            </nav>
        </div>
        <div class="linebreaker"></div>
        <h2>Extensive documentary about the topics discussed in the links above.</h2>
    </section>
    <div><iframe src="https://www.youtube.com/embed/bjrPiIem30g" frameborder="0" allowfullscreen></iframe>
    </div>
</article>