
    <article>
        <div class="linebreaker"></div>
        <section>
            <h2>Sustainability</h2>
            <p>Sustainability is something that focuses on meeting the needs of the present without
                compromising the
                needs
                of
                the future, a way of maintaining itself functioning without ever ceasing to be.</p>
            <p>Sustainability is a concept that goes way beyond simple "recycling", it is a complex matter
                that
                diverges
                into
                various topics which can be placed into three main pillars.</p>
        </section>
        <section>
            <h2>The Social Pillar:</h2>
            <p>The most vague of the three, it can be hard to understand how or why "social
                sustainability"
                exists
                but,
                implementing changes is a social challenge in of itself, it can easily affect our
                individual
                lifestyle,
                ethical
                consumerism, means of transportation, etc.</p>
            <p>Not to mention it can also embed topics such as social equity, livability, community
                development,
                human
                rights and personal responsibility. </p>

            <figure>
                <img class="verticalImg"
                    src="./Images/__iris_material_sniper_drawn_by_tommy_chou_shindou_boots.jpg"
                    alt="Society">
                <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/8137992
                        target="_blank"><b>Fig.1
                            - Living in a Society</b></a></figcaption>
            </figure>
        </section>
        <section>
            <h2>The Economic Pillar:</h2>
            <p>"To be sustainable, a business must be profitable", a sentence most businesses are
                well akin to,
                and
                though
                it does play a big role into our society one must not weight it heavier than the
                other two.</p>
            <p>Still, our and the companies financial well-being must take part in the equation for
                embracing
                such
                sustainability strategies can come at some expenses.</p>
        </section>
        <section>
            <h2>The Environmental Pillar:</h2>
            <div>
                <p>Perhaps the most well known of the three, as the name suggests this pillar is entirely
                    focused on
                    the
                    environment and saving it from the many things that aim to endanger it.</p>
                <p>Trying to reduce our carbon footprints, waste, water usage can have an astonishing impact
                    to our
                    duty
                    of
                    saving
                    the planet.</p>
                <p>But there is much more than can be done, not just by us simple civilians but also major
                    companies,
                    from
                    lessening the ammount of harmful material into packaging products
                    or simply replace them with other healthier alternatives.</p>
                <figure>
                    <img class="horizontalImg" src="./Images/74778790_p0.jpg" alt="Climate change">
                    <figcaption> <a class="link" href=https://www.pixiv.net/en/artworks/74778790
                            target="_blank"><b>Fig.2 -
                                Climate change</b></a></figcaption>
                </figure>
        </section>
    </article>
