<article>
    <section>
        <h2>Sustainability in universities</h2>
        <p>This page is dedicated to briefly discussing the concept of sustainability in
            universities in general and
            try translating it into what can be done on our campus:</p>

        <figure>
            <img class="horizontalImg"
                src="./Images/__original_and_1_more_drawn_by_arsenixc_and_vvcephei.jpg"
                alt="University">
            <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/18788170
                    target="_blank"><b>Fig.1 - Cafeteria</b></a></figcaption>
        </figure>
    </section>
    <section>
        <p><strong>How can Sustainability be present on a university:</strong>
            sustainability is the concept of maintaining oneself functioning without ever
            ceasing to
            be, this is something that can be applied to pretty much anything including
            universities,
            in a way the can be seen as their own ecosystem and in order for the students
            to survive
            so must the university</p>
        <br />
        <p><strong>What is a sustainable university </strong>: A sustainable university is
            an
            educational institution that educates global citizens for sustainable
            development, it
            provides relevant</strong>
            insights on both social and environmental problems and encourages them to act
            upon such
            responsabilities.</p>
        <br />
        <p><strong>Recycling:</strong> Though this is a obvious one, it is important for the
            topic
            of sustainability, does your university have recycling bins? should they have
            them?</p>
        <p>Nowadays it is very common for universities to have an efficient way for both
            students and
            workers to recycle/get rid of waste. Not only is a good way to keep the
            university/environment clean it also serves as a very good way of
            self-promoting, by making the overall looks of the university more appealing.
        </p>
        <figure">
            <img class="verticalImg" src="./Images/_original_drawn_by_kana_okitasougo.jpg"
                alt="University">
            <figcaption><a class="link" href=https://twitter.com/i/web/status/1239168623148580866
                    target="_blank"><b>Fig.2 - Classroom</b></a></figcaption>
            </figure>
    </section>
    <section>
        <p><strong>Education:</strong> it's important to empower global citizens for
            sustainable
            development.
            Universities help shape the economic and political workers and leader of
            tomorrow and
            therefore have
            the responsability on introducing certain
            ethical concepts regarding sustainability(social, economic and environmental
            perspective),
            for example
            civil engineers students learning about constructing a building in the most
            cost-efficient.</p>
        <p>And how should education be taught? should a student just learn passively ina
            classroom or
            through
            projects?</p>
        <br />
        <p><strong>Operations:</strong> The way the university operates is also extremely
            important to how
            it's survivability is affected. Is there any waste of energy? Is it clean and
            healthy to
            garantee the
            students safety? does it have proper insulation? etc.</p>
        <p>There are several operations that can be undertaken in order to promote/secure
            sustainability
            and the
            building's management.</p>

        <div class="linebreaker"></div>

        <h2>Where does the IPS stand?</h2>

        <p>Though I've never really paid much attention to my surroundings as I traversed
            through the
            building, I
            believe it is fair to say that the IPS stands on a rather acceptable level
            regarding it's
            sustainability.</p>
        <p>Recycling bins can be seen in the corridors between different sections though
            perhaps there are few
            of
            them, a improvement would be maybe placing them in more strategic places such
            as closer to the
            recreations areas.</p>
        <p>We could also have community events the support and inform the students about the
            importance of
            sustainability in order to educate the students more about such subjects.</p>
        <p>The classrooms, bathrooms, stairs and corridors always seem to be kept clean on a
            daily bases,
            promoting
            good hygiene and a good study/learning environment.</p>
        <p>In short, though the IPS isnt perfect I wouldnt exactly consider it horrible
            either, it feels very
            decent
            like most universities do.</p>
    </section>
</article>