<article>
    <section>
        <h2>The Social Pillar</h2>
        <p>Social sustainability has had considerably less attention when compared to its other counter
            parts
            (economic
            and environmental sustainability).</p>
        <p>However it is still a topic of great importance that can affect everyones lives since it can
            be
            directly
            related to our individual lifestyle, ethical consumerism
            and means of transportation as well as range into other topics such as social equity,
            community
            development,
            human rights and responsibility as both individuals and
            organizations. Some of which will now be spoken in much more detail.</p>
        <figure>
            <img class="horizontalImg" src="./Images/_Turism_drawn_by_xiaobanbei_milk.jpg"
                alt="Transports">
            <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/79736426
                    target="_blank"><b>Fig.1 -
                        Train-Station</b></a></figcaption>
        </figure>
    </section>
    <div class="linebreaker"></div>
    <section>
        <p><b>Pollution:</b> Though it can also fall onto the environment pillar, the pollution
            that is
            discussed
            here
            is not targeted at the environment but
            at us instead, laws and legislations with the goal of protecting our health as well
            as prevent
            certain
            activities done by businesses and other organizations.</p>
        <p><b>Human rights:</b> These are moral principles or norms that describe certain
            standards of how
            an
            individual should behave, these are regularly protected as natural and legal
            rights both nationaly and internationally. They are commonly understood as something
            that is
            inherent in
            us
            no matter the race, age or gender.
        <p>Though too broad a subject, a very small part of it does belong to the objective of
            social
            sustainability, of how we should treat both ourselves and the environment...</p>
        <br />
        <figure>
            <img class="horizontalImg" style="margin-top: 0px;"
                src="./Images/_Polution_drawn_by_huanxiang_huifeng.jpg" alt="Polution">
            <figcaption><a class="link" href=https://www.pixiv.net/en/users/986537/artworks
                    target="_blank"><b>Fig.2 - Air Pollution</b></a></figcaption>
        </figure>
        <p><b>Ethical consumerism:</b> As being filled with wants and needs it is important to
            have some
            ethics
            about what and how much of it can or should be consumed.</p>
        <p>Some products can be harmfull to our well-being as well as the planet's either it be
            due to
            excessive
            intake of limited natural resources or harmful substances creatd in the process of
            it.</p>
        <br />
        <p><b>Community development:</b> A process where community members come together to take
            collective
            action
            and generate solutions to common problems. </p>
        <p>It can also be understood as professional discipline that is seen as a practice which
            promotes a
            sustainable development as well as equality by
            having such focus on exchange of information and opinions, about certain concepts,
            issues or
            projects
            which aim to enhance our social outcome.</p>
    </section>
    <br />
    <section>
        <p><b>Health equity:</b> Defends that no man or woman should ever be deprived from any of the
            three
            social
            determinants of health which are wealth, power and prestige
            since individuals who have been constantly deprived of such have shwon to have significant
            disadvantages
            from
            health inequities and tend to face worse
            health related outcomes in general than those who can acess such resources. Heath inequities
            stem from
            a
            failure
            in this distribution and not providing each individual with the resources he or she needs.
        </p>
        <figure><img class="horizontalImg" src="./Images/Social_original_drawn_by_roki.jpg"
                alt="Social">
            <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/72926311
                    target="_blank"><b>Fig.3 -
                        Public Transports</b></a></figcaption>
        </figure>
        <p><b>In short, Social sustainability main focus is to protect from any unfairness and to
                sustain/help us
                survive as individuals who are a part of a much bigger group called society that should
                never treat
                any with
                inequality.</b></p>
    </section>
</article>