<article>
    <section>
        <h2>Technology</h2>
        <p>Through technological advancements can be one of the main causes to negatively impact
            sustainability
            (more specifically the environmental pillar)
            it can also serve as a way to help and solve numerous problems that threaten the
            overall balance
            we so
            desperately need to mantain in order to continue striving and ensure
            our future generations can also.</p>
        <p>First, let's undergo/look at the negatives technology can bring towards the topic of
            sustainability,
            then
            look
            for the positives, and lastly see whose outweight whose.</p>
        <figure>
            <img class="horizontalImg" src="./Images/softmode.full.1791779.jpg" alt="Gaming-Computer">
            <figcaption><a class="link"
                    href=https://www.deviantart.com/softmode/art/vivian-james-playing-star-citizen-485674828
                    target="_blank"><b>Fig.1 - Technology</b></a></figcaption>
        </figure>
    </section>
    <div class="linebreaker"></div>
    <section>
        <h2>The negatives:</h2>
        <p><strong>Rates of production:</strong> with the increase in technology and the creation of
            more
            sophisticated machinery/tools, we can easily mass produce most needed products
            with far more efficiency than before and far faster as well. Though it does serve as an
            answer to the
            constant
            increase of demand to satisfy Human needs,
            this can cause a quicker depletion of natural and limited resources, if we are the overexert
            the
            collection/gathering of primary materials they will eventually become scarce or vanish.</p>
        <br />
        <p><strong>Waste:</strong> As we are mass producing more, so are we creating more waste either
            from
            leftovers of some primary material that just doesnt serve to be used in the creation of a
            certain
            product
            or via the very own process of the desired products creation resulting into unneeded waste
            (some of
            which
            can
            be toxic) that cannot be of any use.</p>
        <p>With the increase in waste and the lack of proper developed ways to dispose of it, this can
            result in
            a
            plethora of problems such as illegal dumpings or overcostly methods of disposal due to lack
            of
            proper developed ways to take care of such.(this topic was talked before in the pillars of
            sustainability,
            one
            must have eyes for the future to achieve a greener economy).</p>
        <br />
        <p><strong>Polution:</strong> This one is pretty self explanatory, with technological
            advancements and
            production of more/other types of machinery it will all result in a lot more pollution
            which,
            affect global warming which can furter result in disruptive changes towards the environment
            resulting
            it a
            completely chaotic and non-sustainable ecosystem which we are also a part of.</p>
        <figure>
            <img class="horizontalImg" src="./Images/__original_drawn_by_wenqing_yan.jpg"
                alt="Comparison">
            <figcaption><a class="link"
                    href=https://www.deviantart.com/yuumei/art/Better-Tomorrow-621618511
                    target="_blank"><b>Fig.2 - Before and After</b></a></figcaption>
        </figure>
    </section>
    <section>
        <h2>The positives:</h2>
        <div>
            <p><strong>Renewable energy:</strong> Of course not all technology is bad for the
                environment nor the
                sustainability of our planet and society, there are multiple ways of harnessing energy
                for means of
                production,
                and even though right now the most efficient one might be the burning of fossil
                fuels(efficient as
                in if
                your main goal is just obtaining energy), that does not mean that in the future this
                won't change.
            </p>
            <p>It will change, sustainability is about meeting the needs of the present without
                compromising the
                future
                ones and this never was a sustainable method.</p>
            <p>But there are other ways of obtaining energy without the need of limited resources, we
                can opt for
                renewable
                ones instead such has such has sunlight, wind, waves, tides and even geothermal heat.
            </p>
            <p>Modern environmental technology has enabled us to capture this naturally occurring energy
                and
                convert it
                into electricity through devices such as solar panels, wind and water turbines, etc.</p>
            <p>With these never ending resources, and the correct advancement in technology, it is
                possible to
                achive a
                sustainable mean that will fill our needs and not injure the ones who come after.</p>
            <figure>
                <img class="horizontalImg" src="./Images/__original_drawn_by_gan_viking.jpg"
                    alt="Clean Energy">
                <figcaption><a class="link" href=https://www.pixiv.net/en/artworks/77413911
                        target="_blank"><b>Fig.3 -
                            Wind turbines</b></a></figcaption>
            </figure>

            <p><strong>Electric vehicles:</strong> Electric vehicles demonstrate a positive impact of
                technology
                on
                the environment since they can significantly reduce the negative impact we cause onto
                the
                environment and
                atmosphere
                without the cost of anything. Though their price might be a bit steep for now which
                results on
                several
                individuals being unable to acquire one due to being such a recently developed
                technology,</p>
            <p>it is one that most certainly will be widely adopted in the future not just for ourselves
                but also
                for
                public transportations in general which is something that can be seen quite frequently
                nowadays.
            </p>
    </section>

    <div class="linebreaker"></div>
    <section>
        <p><strong>Smart technology:</strong> This technology uses devices such as linking sensors
            and other
            appliances
            that can be remotely monitored and programmed in order to be as energy efficient as
            possible and to respond to the needs of the users. Utilizing the Internet of Things (a
            network of
            internet-connected objects that are able to connect data) these objects will be able to
            collect
            data
            which then will be utilized so that every device in this network can make an autonomous
            decision
            with the
            objective of reducing wastage.</p>
        <p>A bit hard to compreend at first but basically, it's an intelligent system that act in
            the best way
            possible, for
            example lightning systems will only illuminate areas that require it or dim the light to
            an optimal
            point
            so no excess energy is consumed.</p>

        <figure>
            <img class="horizontalImg" src="./Images/SWBlog-smart-technology-in-the-sd.png"
                alt="Technology">
            <figcaption><b>Fig.4 - Smart Technology</b></figcaption>
        </figure>
    </section>
    <div class="linebreaker"></div>
    <section>
        <h2>Comparison:</h2>
        <p>In short we can conclude that technology is something that can change our world, and with it
            bring new
            challenges
            but also opportunities for the topic of sustainability. </p>
        <p>And though the rapidly needed increase for production due to increase in consumer's needs can
            cause
            massive
            problems, we can conclude that ultimately if we are to satisfy
            our needs we must also satisfy those of our ecosystem, the increase in technology is a must
            but it has
            to be
            equally focused on both.</p>
        <p>Still, In my opinion the positives do outweight the negatives, for it gives us a way to to
            keep
            everything
            sustainable both in the present and in the foreseeable future.</p>
    </section>
</article>